<!DOCTYPE html>
<html>
<head>
    <title>{{ title | default("FOMO Dashboard") }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-md-block bg-light sidebar">
                <h1 class="nav-link" href="/" >FOMO PREDIKSI</h1> 
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Input Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('fomo_dataset') }}">Klaster Mahasiswa yang FOmo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('non_fomo_dataset') }}">Klaster Mahasiwa Non-FOMO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dataset') }}">Semua Dataset</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('iterations') }}">Hayo berapa banyak iterasi yang terjadi </a>
                    </li>
                  
                </ul>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('table').DataTable();
    });
</script>


